body {
    /* Removes the browser's default spacing */

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

/* GENERAL PAGE DESIGN */

body {

    font-family: Arial, sans-serif;

    background-color: #ffffff;

    color: #14213d;

}

/* HEADER */

header {

    background-color: white;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 18px 7%;

    border-bottom: 3px solid #f4b942;

}

.logo h2 {

    color: #0c3675;

    font-size: 25px;

}

.logo p {

    color: #666666;

    font-size: 14px;

    margin-top: 3px;

}

/* NAVIGATION */

nav {

    display: flex;

    align-items: center;

    gap: 30px;

}

nav a {

    color: #0c3675;

    text-decoration: none;

    font-weight: bold;

}

nav a:hover {

    color: #d99c20;

}

.nav-login {

    background-color: #0c3675;

    color: white;

    padding: 12px 25px;

    border-radius: 5px;

}

.nav-login:hover {

    background-color: #f4b942;

    color: #0c3675;

}

/* HERO SECTION */

.hero {

    min-height: 520px;

    background-color: #0c3675;

    display: flex;

    align-items: center;

    padding: 70px 8%;

}

.hero-content {

    max-width: 650px;

    color: white;

}

.university-name {

    letter-spacing: 5px;

    font-size: 14px;

    margin-bottom: 15px;

}

.hero h1 {

    font-size: 58px;

    margin-bottom: 10px;

}

.hero h2 {

    color: #f4b942;

    font-size: 30px;

    font-weight: normal;

    margin-bottom: 25px;

}

.description {

    font-size: 18px;

    line-height: 1.7;

    margin-bottom: 30px;

}

/* HERO BUTTONS */

.hero-buttons {

    display: flex;

    gap: 15px;

}

.primary-button,

.secondary-button {

    display: inline-block;

    padding: 14px 25px;

    text-decoration: none;

    font-weight: bold;

    border-radius: 5px;

}

.primary-button {

    background-color: #f4b942;

    color: #0c3675;

}

.secondary-button {

    color: white;

    border: 2px solid white;

}

.primary-button:hover {

    background-color: white;

}

.secondary-button:hover {

    background-color: white;

    color: #0c3675;

}

/* SERVICES */

.services {

    display: flex;

    justify-content: center;

    padding: 50px 7%;

    background-color: #f5f7fa;

}

.service-card {

    width: 25%;

    text-align: center;

    padding: 25px;

    border-right: 1px solid #dddddd;

}

.service-card:last-child {

    border-right: none;

}

.icon {

    font-size: 35px;

    margin-bottom: 15px;

}

.service-card h3 {

    color: #0c3675;

    margin-bottom: 10px;

}

.service-card p {

    color: #555555;

    line-height: 1.5;

}

/* ABOUT SECTION */

.about {

    text-align: center;

    padding: 70px 20%;

}

.about h2 {

    color: #0c3675;

    font-size: 32px;

    margin-bottom: 20px;

}

.about p {

    line-height: 1.7;

    color: #555555;

}

/* FOOTER */

footer {

    background-color: #082956;

    color: white;

    padding: 35px 7%;

    text-align: center;

}

footer h3 {

    margin-bottom: 7px;

}

.project-note {

    color: #f4b942;

    margin: 20px 0;

/* ============================= */
/* LOGIN PAGE */
/* ============================= */

.login-page {
    min-height: 100vh;
    background-color: #0c3675;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.login-container {
    width: 100%;
    max-width: 1000px;
    min-height: 600px;

    display: flex;

    background-color: white;
    border-radius: 12px;
    overflow: hidden;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}


/* LEFT SIDE */

.login-brand {
    width: 50%;
    background-color: #082956;
    color: white;

    padding: 70px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-brand h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.login-brand h2 {
    color: #f4b942;
    font-weight: normal;
    margin-bottom: 25px;
}

.login-brand p {
    line-height: 1.7;
}

.back-home {
    color: #f4b942;
    text-decoration: none;
    margin-top: 35px;
    font-weight: bold;
}


/* LOGIN FORM */

.login-box {
    width: 50%;
    padding: 55px 50px;
}

.login-box h2 {
    color: #0c3675;
    font-size: 32px;
    margin-bottom: 8px;
}

.login-subtitle {
    color: #777777;
    margin-bottom: 30px;
}

.login-box label {
    display: block;

    color: #333333;
    font-weight: bold;

    margin-top: 18px;
    margin-bottom: 7px;
}

.login-box input {
    width: 100%;

    padding: 13px;

    border: 1px solid #cccccc;
    border-radius: 5px;

    font-size: 15px;
}

.login-box input:focus {
    outline: none;
    border-color: #0c3675;
}

.login-box button {
    width: 100%;

    margin-top: 28px;
    padding: 14px;

    background-color: #0c3675;
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.login-box button:hover {s
    background-color: #f4b942;
    color: #0c3675;
}

.login-note {
    text-align: center;
    color: #888888;

    font-size: 12px;
    margin-top: 25px;
}

}